# Gestion Paie - .gitignore
# Python
*.pyc
__pycache__/
TaysirEnv/

GestionApp/__pycache__/
GestionApp/migrations/__pycache__/
Gestion_Paie/__pycache__/

GestionApp/static/styles/output.css
GestionApp/static/styles/tailwind.css


# Django

*.log
*.pot
media/
staticfiles/

# Node/React
node_modules/
build/
dist/

# Environment variables
.env

