{% extends 'navbar.html' %}
{% load static %}
{% block title %}Ajouter un employé{% endblock %}

{% block content %}

<body>
      
    <div class= "flex justify-center items-center ">
        
        <div class="border-white border-4 border-opacity-50 rounded-md max-w-xl mt-20 grow p-1 shadow-lg bg-zinc-700">
            <h1 class="text-center font-bold text-2xl text-white">Ajouter les informations</h1>
        
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label for="Rib_Employe" class="block text-white font-bold mb-2 mt-7">RIB</label>
                <input type="text" id="Rib_Employe" name="Rib_Employe" placeholder="Entrez le RIB" required value="{{ form.Rib_Employe.value|default:'' }}" 
                class="bg-gray-300 text-black w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                {% if form.Rib_Employe.errors %}
                <ul class="text-red-500 mt-1 list-disc list-inside">
                {% for error in form.Rib_Employe.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
                {% endif %}
            </div>
            
            
            
            <div class="mb-4">
                <label for="Fullname" class="block text-white font-bold mb-2">Nom complet</label>
                <input type="text" id="Fullname" name="Fullname" placeholder="Entrez le nom complet" required value="{{ form.Fullname.value|default:'' }}" 
                class="bg-gray-300 text-black w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                {% if form.Fullname.errors %}
                <ul class="text-red-500 mt-1 list-disc list-inside">
                  {% for error in form.Fullname.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
                  {% endif %}
            </div>
            <div class="mb-4">
                <label for="Address" class="block text-white font-bold mb-2">Adresse</label>
                <input type="text" id="Address" name="Address" placeholder="Entrez l'adresse" required  value="{{ form.Address.value|default:'' }}"
                class="bg-gray-300 text-black w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                {% if form.Address.errors %}
                <ul class="text-red-500 mt-1 list-disc list-inside">
                  {% for error in form.Address.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
                  {% endif %}
            </div>
            <div class="text-center">
                <button type="submit" class="text-lg bg-green-700 hover:bg-green-600 rounded-lg py-3 px-3 text-white mb-2">ajouter</button>
            </div>
        </form>
    </div>
    </div>
    <div>
        <!-- Affichage des messages de succès -->
        {% if messages %}
    <div class="flex justify-center items-center mt-4">
        {% for message in messages %}
            <div id="notification" role="alert" class="rounded-xl border border-white {% if message.tags == 'success' %}bg-green-200 text-green-600{% elif message.tags == 'warning' %}bg-yellow-200 text-yellow-600{% else %}bg-red-200 text-red-600{% endif %} p-4 max-w-xl" style="transition: opacity 1s ease-out;">
                <div class="flex items-start gap-4">
                    <span class="{% if message.tags == 'success' %}text-green-600{% elif message.tags == 'warning' %}text-yellow-600{% else %}text-red-600{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="{% if message.tags == 'success' %}M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z{% elif message.tags == 'warning' %}M12 5v14m-7-7h14{% else %}M6 18L18 6M6 6l12 12{% endif %}" />
                        </svg>
                    </span>
                    <div class="flex-1">
                        <strong class="block font-medium {% if message.tags == 'success' %}text-green-700{% elif message.tags == 'warning' %}text-yellow-700{% else %}text-red-700{% endif %}">{{ message.tags|capfirst }}</strong>
                        <p class="mt-1 text-sm {% if message.tags == 'success' %}text-green-600{% elif message.tags == 'warning' %}text-yellow-600{% else %}text-red-600{% endif %}">
                            <!-- Utilisation de nl2br pour les retours à la ligne -->
                            {{ message|linebreaks }}
                        </p>
                    </div>
                    <button onclick="closeNotification()" class="text-gray-500 transition hover:text-gray-600">
                        <span class="sr-only">Dismiss popup</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
       </div>
       <script src="{% static 'js/alertmanagement.js' %}"></script>
</body>



{% endblock %}
