{% extends 'navbar.html' %}
{% load static %}
{% block title %}Modifier une fiche de paie{% endblock %}

{% block content %}
<div class="flex justify-center items-center">
    <div class="border-white border-4 border-opacity-50 rounded-md max-w-xl mt-20 grow p-1 shadow-lg bg-zinc-700">
        <h1 class="text-center font-bold text-2xl text-white">Modifier une fiche de paie</h1>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="previousUrl" name="previousUrl">
            <!-- Champ Employé -->
            <div class="mb-4">
                <label for="employe" class="block text-white font-bold mb-2">Employé</label>
                <div class="flex items-center">
                    {{ form.employe }}
                </div>
                {% if form.employe.errors %}
                <ul class="text-red-500 mt-1 list-disc list-inside">
                    {% for error in form.employe.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <!-- Champ Fiche de paie -->
            <div class="mb-4">
                <label for="fiche_paie" class="block text-white font-bold mb-2">Fichier de Paie</label>
                {{ form.fiche_paie }}
                {% if form.fiche_paie.errors %}
                <ul class="text-red-500 mt-1 list-disc list-inside">
                    {% for error in form.fiche_paie.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <!-- Champ Montant -->
            <div class="mb-4">
                <label for="Montant" class="block text-white font-bold mb-2">Montant</label>
                {{ form.Montant }}
                {% if form.Montant.errors %}
                <ul class="text-red-500 mt-1 list-disc list-inside">
                    {% for error in form.Montant.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <!-- Champ Libellé -->
            <div class="mb-4">
                <label for="Libelle" class="block text-white font-bold mb-2">Libellé</label>
                <textarea id="id_Libelle" name="Libelle" class="bg-gray-300 text-black w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">{{ form.Libelle.value|default:'' }}</textarea>
                {% if form.Libelle.errors %}
                <ul class="text-red-500 mt-1 list-disc list-inside">
                    {% for error in form.Libelle.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>

            <!-- Bouton d'enregistrement -->
            <div class="text-center">
                <button type="submit" class="bg-green-700 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
                    Enregistrer les modifications
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Notifications -->
<div>
    {% if messages %}
    <div class="flex justify-center items-center mt-4">
        {% for message in messages %}
            <div id="notification" role="alert" class="rounded-xl border border-white {% if message.tags == 'success' %}bg-green-200 text-green-600{% elif message.tags == 'warning' %}bg-yellow-200 text-yellow-600{% else %}bg-red-200 text-red-600{% endif %} p-4 max-w-xl" style="transition: opacity 1s ease-out;">
                <div class="flex items-start gap-4">
                    <span class="{% if message.tags == 'success' %}text-green-600{% elif message.tags == 'warning' %}text-yellow-600{% else %}text-red-600{% endif %}">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="{% if message.tags == 'success' %}M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z{% elif message.tags == 'warning' %}M12 5v14m-7-7h14{% else %}M6 18L18 6M6 6l12 12{% endif %}" />
                        </svg>
                    </span>
                    <div class="flex-1">
                        <strong class="block font-medium {% if message.tags == 'success' %}text-green-700{% elif message.tags == 'warning' %}text-yellow-700{% else %}text-red-700{% endif %}">{{ message.tags|capfirst }}</strong>
                        <p class="mt-1 text-sm {% if message.tags == 'success' %}text-green-600{% elif message.tags == 'warning' %}text-yellow-600{% else %}text-red-600{% endif %}">
                            <!-- Utilisation de nl2br pour les retours à la ligne -->
                            {{ message|linebreaks }}
                        </p>
                    </div>
                    <button onclick="closeNotification()" class="text-gray-500 transition hover:text-gray-600">
                        <span class="sr-only">Dismiss popup</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Ajouter Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    
    <script src="{% static 'js/selectscript_modifierfiche.js' %}"></script>
    <script src="{% static 'js/alertmanagement.js' %}"></script>
    <script src="{% static 'js/previous_url.js' %}"></script>

{% endblock %}
